{# template de l'objet ODRadio #}

{% set objClasses = 'gotObject hidden ' ~ objet.id ~ " " ~ objet.classes %}

<div id="{{ objet.id }}" data-objet="{{ objet.object }}" class="radio {{ objClasses }}
    {% if objet.state == false %} disabled {% endif %}"
    {% if objet.display is not empty %} data-display="{{ objet.display }}" {% endif %}
    {% if objet.widthBT is not empty %} data-widthbt="{{ objet.widthBT }}" {% endif %}
    {% if objet.form is not empty %} data-form="{{ objet.form }}" {% endif %}
    {% include "zf3-graphic-object-templating/oobjects/eventsHTML.twig" with {'events':objet.event} %}
>
    <div class="radioLabel {{ objet.forme }}"
        {% if objet.labelWidthBT is not empty %} data-widthbt="{{ objet.labelWidthBT }}" {% endif %}">
        {{ objet.label }}
    </div>
    <div id="{{ objet.id }}radioBtns" class="radionBtns {{ objet.forme }}"
            {% if objet.inputWidthBT is not empty %} data-widthbt="{{ objet.inputWidthBT }}" {% endif %}"
    >
        {% for radio in objet.options %}
        <div class="{{ radio.type }} {{ objet.forme }}">
        <input type="radio" name="{{ objet.id }}Radio" value="{{ radio.value }}" class="radioBtn"
            {% if objet.state == false or item.state == false %} disabled {% endif %}
            id="{{ objet.id ~ radio.value }}" {% if radio.check == 'check' %} checked="checked"{% endif %}>
        <label for="{{ objet.id ~ radio.value }}">{{ radio.libel }}</label>
        </div>
        {% endfor %}
    </div>

    <script id="{{ objet.id }}Scripts">
        $(document).ready(function (e) {
            setBtClasses("#{{ objet.id }} .radioLabel", $("#{{ objet.id }} .radioLabel").data("widthbt"));
            setBtClasses("#{{ objet.id }} .radionBtns", $("#{{ objet.id }} .radionBtns").data("widthbt"));

            {% if objet.event is not empty %}
            {% include "zf3-graphic-object-templating/oobjects/eventsJS.twig" with { events:objet.event } %}
            {% endif %}
        })
    </script>

    {% include "zf3-graphic-object-templating/oobjects/infoBulle.js.twig" with {'infoBulle':objet.infoBulle, 'id':objet.id} %}
</div>

