{# template de l'objet ODSelect #}

{% set evtChange = '' %}
{% set events = objet.event %}
{%  for evt, event in events %}
    {% switch(evt) %}
    {% case 'change' %} {% set evtChange = 'selectChg' %}
    {% endswitch %}
{% endfor %}
{% set objClasses = 'gotObject hidden ' ~ objet.id ~ " " ~ objet.classes ~ ' ' ~ evtChange %}

<div id="{{ objet.id }}" data-objet="{{ objet.object }}" data-display="{{ objet.display }}" class="{{ objClasses }}"
     data-widthbt="{{ objet.widthBT }}" {% if objet.form|length > 0 %} data-form="{{ objet.form }}" {% endif %}
    {% include "zf3-graphic-object-templating/oobjects/macros/eventsHTML.twig" with {'events':objet.event} %}
>

    <label for="{{ objet.id }}Select" class="{{ labelClass }}"
        {% if objet.labelWidthBT is not empty %} data-widthbt="{{ objet.labelWidthBT }}" {% endif %}
    >{{ objet.label }}</label>
    <span class="{{ objet.format }}">
        <select id="{{ objet.id }}Select" class="{{ selectClass }}"
        {% if objet.selectWidthBT is not empty %} data-widthbt="{{ objet.selectWidthBT }}" {% endif %}
        {% if objet.multiple %} multiple {% endif %} {% if objet.state == false %} disabled {% endif %}
        >
            {% if objet.placeholder is not empty %}
            <option value="" disabled selected>{{ objet.placeholder }}</option>
            {% endif %}
            {% for value, item in objet.options %}
            <option value="{{ value }}"
                    {% if item.selected %} selected {% endif %} {% if not item.enable %} disabled {% endif %} >
                {{ item.libel }}
            </option>
            {% endfor %}
        </select>
    </span>

    <script>
        $(document).ready(function (e) {
            setBtClasses("#{{ objet.id }} label", $("#{{ objet.id }} label").data("widthbt"));
            setBtClasses("#{{ objet.id }} select", $("#{{ objet.id }} select").data("widthbt"));

            {% if objet.event is not empty %}
            {% include "zf3-graphic-object-templating/oobjects/macros/eventsJS.twig" with { events:objet.event } %}
            {% endif %}
        })
    </script>
</div>