{# template de l'objet OSForm #}

{% set objClasses = 'gotObject hidden ' ~ objet.classes %}

<div id="{{ objet.id }}" class="{{ objClasses }}" data-objet="{{ objet.object }}"
     {% if objet.display is not empty %}data-display="{{ objet.display }}"{% endif %}
        {% if objet.widthBT is not empty %}data-widthbt="{{ objet.widthBT }}"{% endif %}
>
    <style>
        {% if objet.codeCss is defined and objet.codeCss is not empty %}
        {% include 'graphicobjecttemplating/oobjects/oscontainer/style.twig'  with { codeCss:objet.codeCss } %}
        {% endif %}
        {% if objet.autoCenter %}
        {% include 'graphicobjecttemplating/oobjects/macros/autoCenter.twig' with {id:objet.id, acPx:objet.acPx, acPy:objet.acPy } %}
        {% endif %}
    </style>

    {% if objet.title is not empty %}
        <h2 id="formTitle">{{ objet.title|raw }}</h2>
    {% endif %}

    {% set btnsCtrls = 'none' %}
    {% set dataWidthBTbody  = 'data-widthBT='~objet.widthBTbody~' ' %}
    {% set dataWidthBTctrls = 'data-widthBT='~objet.widthBTctrls~' ' %}

    <div class="gotObject formBody" {{ dataWidthBTbody }} data-display="{{ objet.display }}">
        {{ content | raw }}
    </div>

    {% if objet.btnControls|length %}
        <div class="gotObject formCtrls form-group row " {{ dataWidthBTctrls }} data-display="{{ objet.display }}">
            {{ objet.btnControls | raw }}
        </div>
    {% endif %}

    <span class="error hidden"></span>

    {# ###########################################################################################################
        ATTENTION : tout champ permettant une saisie d'information devra avoir une balise HTML label
        ceci pour permettre la mise en place de l'étoile rouge à gauche du texte inclus pour indiquer l'ensemble
        des champs obligatoires pour valider la saisie du formulaire
    ########################################################################################################### #}
    <script id="{{ objet.id }}Script">
        function resetFormDatas(form) {
            $("#" + form).find(".gotObject").each(function () {
                if (!$(this).hasClass('formBody') && !$(this).hasClass('formCtrls') && this.dataset['objet'] !== 'odbutton') {
                    var valeur = this.dataset['default'];
                    switch (this.dataset['objet']) {
                        case 'odinput':
                            if (valeur === 'none') {
                                valeur = '';
                            }
                            $(this).find('input').val(valeur);
                            break;
                    }
                }
            })
        }
        {% if objet.required is not empty %}
        function {{ objet.id }}Script() {
            var require = '<span style="color:red;float:left;width:10px;";>*&nbsp;</span>';
            var topRequire = false;
            {% for ident, bool in objet.required %}
            {% if bool %}
            $("#{{ ident }}").addClass('require');
            var mark = $("#{{ ident }} label span");
            if (mark != undefined && mark.length == 0) {
                $("#{{ ident }} label:first").html(require + $("#{{ ident }} label:first").html());
            }
            if (!topRequire) {
                topRequire = true;
            }
            {% endif %}
            {% endfor %}

            if (topRequire) {
                var mention = $('span.require.mention');
                if (mention.length == 0) {
                    $("#{{ objet.id }}").append('<span class="require mention col-xs-12" style="font-weight: bold;"><span style="color:red;float:left;width: 10px;";>*&nbsp;</span> : champ(s) obligatoire(s)</span>');
                }
            }

            {% if objet.submitEnter %}
            var submitBtn = $('#{{ objet.id }} div[data-objet="odbutton"][data-default="true"]');
            var objBuilder = submitBtn.data("objet");

            {# gestion pression touche, si enter = soumission formulaire si existe #}
            $("#{{ objet.id }} .gotObject").on("keypress", function (e) {
                if (e.keyCode === 13) {
                    var submit{{ objet.id }} = eval('new ' + objBuilder + '($("#' + submitBtn.attr('id') + '"));');
                    invokeAjax(submit{{ objet.id }}.getData('click'), submitBtn.attr('id'), 'click', e);
                }
            });
            {% endif %}
        }

        $(document).ready(function () {
            {{ objet.id }}Script();
        });
        {% endif %}
    </script>
</div>

{# // var valeur = $(this).data('default'); #}
{# // var objet = $(this).parent().data('object'); #}
{# // switch (objet) { #}
{# //     case 'odinput': #}
{# //         if (valeur === 'none') { valeur = ''; } #}
{# //         $(this).val(valeur); #}
{# // } #}
